<div class="span8" data-ng-controller="FeatureController" data-ng-init="createInit()">
	<!-- The new article form -->
	<form data-ng-submit="create()" name="addFeatureForm" class="form-horizontal">
	<fieldset>
		<div class="control-group" >
			<label class="control-label" for ="orgnization">Orginzation/Domain</label>
			<div class="controls">
		    <select ng-model="selectedOrg" ng-options="org.name for org in orginzations" ng-change="changeOrg(selectedOrg)" class="input-small">
		        <option value="org.id">-- Please Select --</option>
		    </select>/
		    <select  ng-model="selectedDomain" ng-options="d.name for d in domains" ng-change="changeDomain(selectedDomain)" class="input-medium"
		        <option value="d.id">-- Please Select --</option>
		    </select>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="featureId">Feature Id</label>
			<div  class="controls">
			  <input type="text" data-ng-model="featureId1" id="featureId1" class="input-mini"   readonly required>-
				<input type="text" data-ng-model="featureId2" id="featureId2" class="input-mini"   readonly required>-
				<input type="text" data-ng-model="featureId3" id="featureId3" class="input-mini"   required>-
				<input type="text" data-ng-model="featureId4" id="featureId4" class="input-mini"   required>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="featureName">Feature Name</label>
			<div class="controls">
				<input type="text" data-ng-model="featureName" id="featureName" placeholder="Fature Name" required>
			</div>
		</div>
	<div class="control-group">
			<label class="control-label" for="permission">Permission</label>
			<div class="controls">
				<input type="checkbox" ng-model="enablePermission"> Enable Only<br><br>
			</div>
		</div>

		<div class="control-group" ng-show="!enablePermission">
			<div class="controls">
			  <input type="checkbox" name="permisson" value="View"> View
				<input type="checkbox" name="permisson" value="Edit"> Edit
			</div>
		</div>

   <div ng-repeat="item in qualifierList">
		<div class="control-group">
			<label class="control-label" for="qualifier">Qualifier name/description</label>
			<div class="controls">
				<input type="text" data-ng-model="item.name" class="input-small" required>/
				<input type="text" data-ng-model="item.description"  class="input-xlarge" required>
				<div class="btn" ng-click="deleteQualifier(item)">remove</div>
			</div>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="Release">Release ID/Date</label>
		<div class="controls">
			<input type="text" data-ng-model="releaseId" id="releaseId" class="input-small" required>/
			<input type="text" data-ng-model="releaseDate" id="releaseDate" required>/
		</div>
	</div>
		<div class="control-group">
		  <div class="controls">
				<div class="btn btn-success" ng-click="addQualifier()">Add Qualifer</div>
			  <button class="btn btn-primary">Submit</button>
			</div>
		</div>
  </fieldset>
	</form>
</div>
